
	<div class="login-container">
		
		<div class="login-content">
			<form action="index.html">
				<img src="img/avatar.svg" width="150px">
				<h2 id="wel" class="title">Welcome</h2>
           		<div class="input-div one">
           		   <div class="div">
           		   		<h4>Username</h4>
           		   		<input type="text" class="input" id="user">
           		   </div>
           		</div>
           		<div class="input-div pass">
           		   <div class="div">
           		    	<h4>Password</h4>
           		    	<input type="password" class="input" id="pass">
            	   </div>
            	</div>
				<br>
            	<a id="forget" href="#">Forgot Password?</a>
            	<input type="submit" class="btn" value="Login" id="subb">
            </form>
        </div>
    </div>