<div id="cart_text">
      <h1 id="oops"> Oops The Cart is Empty !! 😕</h1>
      <div class="pick">
           <h4> you dont pick any item please add some items from the menu to proceed </h4>
      </div>
  </div>

  <div id="img_cart">
      <img width="500"src="/img/img_cart.png">
  </div>
  
  <button id="btn-back"><a id="back-btn" href="#">GO Back</a></button>
