<section width=100px>
    <section>
    <div class="cart-container">
        <div id="black-cart">
        <img src="/img/cart-black.png" width="50px" height="50px" id="black-img">
        <h2>Order Summary</h2>
        </div>
    </div>
</section>


<section class="list">
    <div id="item-list">
        
        <div>
            <img  width ="150"src="/img/card_img.png" alt="pizza-list">

        </div>
        <div  id="list-details">
            <h4 id="mac">mac burger with fries</h4>
            <span id="cc">combo</span>
        </div>
        <span id="pc">
            1pc
        </span>
        <span id="rup">₹300</span>

    </div>
     <div id="item-list">
        
        <div>
            <img  width ="150"src="/img/card_img.png" alt="pizza-list">

        </div>
        <div  id="list-details">
            <h4 id="mac">mac burger with fries</h4>
            <span id="cc">combo</span>
        </div>
        <span id="pc">
            1pc
        </span>
        <span id="rup">₹300</span>

    </div>
     <div id="item-list">
        
        <div>
            <img  width ="150"src="/img/card_img.png" alt="pizza-list">

        </div>
        <div  id="list-details">
            <h4 id="mac">mac burger with fries</h4>
            <span id="cc">combo</span>
        </div>
        <span id="pc">
            1pc
        </span>
        <span id="rup">₹300</span>

    </div>
</section>


<div id="final">
    <h2 id="total">Total Amount :</h1>
    <h2 id="price">₹900</h1>
</div>
<div id="addd">
    <form>
    <input id="address" type="text" placeholder="Enter Address">
    <br>
    <br>
    <input  id="phone" type="text" placeholder="Enter Phone Number">
</form>
</div>
<br>

<button id="sub" type="submit">Order Now</button>

</section>