<header>
    <nav class="container">
        <div id="logo">
            <a href="/">
                <img src="/img/logo.png" width="100rem" height="100" alt="logo">
            </a>

        </div>

        <div id="left">
            <ul>

                <li id="last"><a href="/cart"><img src="/img/cart.png" alt=""></a></li>
                <li><a href="/myorders">My Orders</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/Register">Register</a></li>
                <li><a href="/offer">Offer</a></li>
                <li><a href="/Menu">Menu</a></li>

            </ul>

        </div>
    </nav>
</header>