<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <title> Yum Resturent App</title>
</head>

<body>
    <header>
        <nav class="container">
            <div id="logo">
                <a href="/">
                    <img src="/img/logo.png" width="100rem" height="100" alt="logo">
                </a>

            </div>

            <div id="left">
                <ul>

                    <li id="last"><a href="/cart"><img src="/img/cart.png" alt=""></a></li>
                    <li><a href="/myorders">My Orders</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/Register">Register</a></li>
                    <li><a href="/offer">Offer</a></li>
                    <li><a href="/Menu">Menu</a></li>

                </ul>

            </div>
        </nav>
    </header>

    <%- body %>
        <script  src="/javascript/app.js"></script>
        <footer class="foooter">
            <div>
                <h4><em> Made by love Jasveeer singh</em> </h4>
            </div>
        </footer>


</body>

</html>